@import "../index.scss";

.header {
    background-color: $primary;
    color: $grey-light;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    gap: 20px;
  
    &__logo {
      display: flex;
      font-size: 2.4rem;
      color: white;
      cursor: pointer;
    }
  
    &__text {
      flex: 1;
    }
    &__search {
      text-align: right;
      flex: 1;
      // min-width: 300px;
      max-width: 300px;
    }
  }

