@import '../index.scss';

.generalSide {
    margin-bottom: 10px;
    padding-inline: 10px;
    &__button {
      font-size: 1.4rem;
      padding: 10px;
      padding-left: 20px;
      list-style-type: none;
      display: flex;
      gap: 10px;
      margin-bottom: 3px;
      border-radius: 4px;
      cursor: pointer;
      transition-property: background-color;
      transition-duration: 0.3s;
    }
    &__button:hover {
      background-color: $grey-light;
      transition-property: background-color;
      transition-duration: 0.3s;
    }
  
    &__logo {
      position: relative;
      top: 2px;
    }
  }
  .projectSide {
    padding-inline: 10px;
  
    &__button,
    &__title {
      border-radius: 4px;
      font-size: 1.4rem;
      padding: 10px;
      padding-left: 20px;
      list-style-type: none;
      display: flex;
      gap: 10px;
      cursor: pointer;
      transition-property: background-color;
      transition-duration: 0.3s;
    }
    &__button {
      margin-bottom: 3px;
    }
    &__button:hover {
      background-color: $grey-light;
      transition-property: background-color;
      transition-duration: 0.3s;
    }
    &__logo {
      position: relative;
      top: 2px;
    }
  }
  .active{
    background-color: $grey-light;
  }