@import "../index.scss";

.search{
    // background-color: blue;
    position: relative;

    &__icon{
        // background-color: yellow;
        position: absolute;
        left: 7px;
        top: 60%;
        transform: translateY(-50%);
        color: black;
        font-size:1.6rem;
    }
    &__input{
      width: 100%;
        padding-left: 30px;
        padding-block: 7px;
        border-radius: 5px;
        outline: none;
        border: none;
    }
}